.bottomPanel {
    position: relative;
}

.bonusWrap {
    height: 100%;
    animation-fill-mode: forwards;
    display: flex;
    animation-timing-function: linear;
    color: grey;
    font-weight: bold;
    padding: 0 .5em 0 .5em;
}

.bonusForward {
    background: linear-gradient(to left, rgba(245, 245, 245, .5) 40%, rgb(160, 240, 232) 55%) right;
    animation-name: forwardAnim;
    background-size: 215%;
}

.bonusReverse {
    background: linear-gradient(to right, rgb(160, 240, 232) 42%, rgb(255, 125, 255) 55%) left;
    animation-name: backwardAnim;
    background-size: 300%;
}

.bonus {
    flex-grow: 1;
    text-align: center;
}

.setBonus {
    font-size: 14px;
}

.bonusTime {
    float: right;
    text-align: right;
    overflow: hidden;
}

@keyframes forwardAnim {
    from {
        background-position: 100%;
    }
    to {
        background-position: 0;
    }
}

@keyframes backwardAnim {
    from {
        background-position: 0;
    }
    to {
        background-position: 100%;
    }
}