.dropdownMenu {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    width: 100%;
}

.meetingLenForm {
    display: flex;
    flex-flow: row wrap;
    font-size: medium;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: gray;
    padding: 5px 9px;
}

.inputMeetingLen {
    width: 50px;
    height: 20px;
    margin-left: 2px;
    background-color: rgba(200, 200, 200, .5);
    border: none;
    margin-right: 5px;
}

.xOutSettingsBar {
    border: none;
    cursor: pointer;
    padding: 0 1% 0 1%;
    font-size: medium;
    color: gray;
    position: absolute;
    background: none;
    right: 1%;
}

.submitButton {
    margin-left: 10px;
    padding: .1% .2% .1% .2%;
    position: absolute;
    right: 3%;
}

.addPresMenu {
    display: flex;
    flex-flow: row wrap;
    font-size: medium;
    position: relative;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: gray;
    padding: 5px 9px;
}