.presWrapper{
    display: flex;
    margin-left: 3%;
    flex: 1 1;
    flex-direction: column;
    height: 100vh;
}

.pres {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
}