.card{
    position: relative;
    margin-bottom: .3%;
}

.cardWrap {
    display: flex;
    height: 100%;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.cardForward {
    animation-name: forwardAnim;
    background: linear-gradient(to left, rgba(215, 215, 215, 1) 45%, turquoise 55%) right;
    background-size: 200% ;
}
.cardReverse{
    animation-name: backwardAnim;
    background: linear-gradient(to right, turquoise 45%, magenta 55%) left;
    background-size: 220%;
}

.cardReverseNoBonus{
    animation-name: backwardAnim, changeColor;
    background: linear-gradient(to right, turquoise 45%,var(--color2)  55%) left;
    background-size: 220%;
}

.name{
    padding: 0 .5em 0 .5em;
    font-weight: bold;
    background: rgba(270, 270, 270, .5) ;
}

.description {
    padding: 0 .5em 0.5em;
    flex: 1 1;
}

.setTime{
    font-size: 14px;
    font-weight: bold;
}

.time{
    padding: 0 .5em 0 .5em;
    text-align: right;
}

@keyframes forwardAnim {
    from {
        background-position: 100%;
    }
    to {
        background-position: 0;
    }
}
@keyframes backwardAnim {
    from {
        background-position: 0;
    }
    to {
        background-position: 100%;
    }
}

@keyframes changeColor{
    0%{--color2: magenta;}
    10%{--color2: rgb(255,0,250)}
    20%{--color2: rgb(255,0,240)}
    30%{--color2: rgb(255,0,230);}
    40%{--color2: rgb(255,0,220)}
    50%{--color2: rgb(255,0,210);}
    60%{--color2: rgb(255,0,200);}
    70%{--color2: rgb(255,0,190);}
    100%{--color2: rgb(255,0,180);}
}


